{% if site.featured-tags %}
<section class="featured-topics">
    <h2><a href="{{ site.baseurl }}/archive/">文章主题</a></h2>
    <div class="topic-list">
        {% capture tags %}
        {% for tag in site.tags %}{% if tag[1].size > site.featured-condition-size %}
        <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}" class="topic-tag"
           href="{{ site.baseurl }}/archive/?tag={{ tag[0] | url_encode }}">{{ tag[0] | escape }}</a>__SEPARATOR__
        {% endif %}{% endfor %}
        {% endcapture %}
        {{ tags | split:'__SEPARATOR__' | sort }}
    </div>
</section>
{% endif %}
