<ul class="social-links" aria-label="社交链接">
    {% if site.github_username %}<li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>{% endif %}
    {% if site.zhihu_username %}<li><a href="https://www.zhihu.com/people/{{ site.zhihu_username }}">知乎</a></li>{% endif %}
    {% if site.douban_username %}<li><a href="https://www.douban.com/people/{{ site.douban_username }}/">豆瓣</a></li>{% endif %}
    {% if site.weibo_username %}<li><a href="https://weibo.com/{{ site.weibo_username }}">微博</a></li>{% endif %}
    {% if site.twitter_username %}<li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>{% endif %}
    {% if site.facebook_username %}<li><a href="https://www.facebook.com/{{ site.facebook_username }}">Facebook</a></li>{% endif %}
    {% if site.linkedin_username %}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>{% endif %}
    {% if site.RSS %}<li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>{% endif %}
</ul>
