<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<body class="reading-site layout-{{ page.layout }}" data-heading-anchors="{{ site.heading_anchors }}">

    <a class="skip-link" href="#main-content">跳到正文</a>

    {% include nav.html %}

    <main id="main-content">
        {{ content }}
    </main>

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="{{ site.baseurl }}/img/icon_wechat.png" width="0" height="0" alt="" aria-hidden="true" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
